.MainPage {
  padding: 24px;
  display: flex;
  gap: 10px;
  .graphInput {
    font-size: 1.5em;
  }
  .graphContainer {
    height: calc(100vh - (24px * 2));
    width: 70%;
    margin-left: 20%;
    border: 3px solid rgb(102, 150, 232);
    border-radius: 8px;
  }
  .result {
    padding: 24px;
  }
}
